h1{
    color: red;
    margin-left: 90px;
}

#box{
    --border:5px solid #000222;
    --border-radius: 2rem;
    --size: 50%;
    }

.bilder{
    margin-top: 20px;
    margin-left: 90px;
}

.brödtext{
    margin-left: 90px;
    color: red;
}

#vänsterbox1{
    width: 40%;
    height: 60%;
    margin-left: 90px;
}

h6{
    font-size: 200%;
}

.vänsterrubrik{
    margin-left: 750px;
    margin-bottom: 20px;

}